<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
        <link rel='stylesheet' href='../public/history.css' />
        <style>

            body {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../public/healthcare-background.jpeg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                color : white;
                text-align:center
                }
            table {
                margin-left:5%;
                margin-right:5%;
                border-collapse: collapse;
                width: 90%;
            }
    
            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                font-size: large;
                background-color: antiquewhite;
                color: black
            }
            a:link, a:visited {
                background-color: #f44336;
                border: 2px solid white;
                border-radius: 25px;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }
                    
            a:hover, a:active {
                    background-color: red;
            }

            /* tr:hover {background-color:white;
                color:black;
            } */

            .row-hover {
                background-color:white;
                color:black;
                /* opacity: 0.8; */
            }

            input[type=button], input[type=submit] {
              background-color: #f44336;
              border: 2px solid white;
              border-radius: 25px;
              color: white;
              padding: 14px 14px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
    
            </style>
    </head>
    <body>
        <a style = "display:block;float:left" href = "http://localhost:4000/patients/home">Home</a><br>
        <h3 style = "display:block;float:center;text-align: center;">Showing your appointments for Today</h3><br>
        <table>
            <tr>
                <!-- <th>Treatment</th> -->
                <th>Date</th>
                <th>Time</th>
            </tr>
            <% result.forEach(function(r){ %>
                <tr class = "row-hover">
                    <!-- <th><%=r.treatment%></th> -->
                    <td><%=r.date %></td>
                    <td><%=r.time %></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>
