<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Dashboard</title>
        <link rel='stylesheet' href='../public/home.css' />
        <style>
            a:link, a:visited {
                    background-color: #f44336;
                    border: 2px solid white;
                    border-radius: 25px;
                    color: white;
                    padding: 14px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                }
                    
                a:hover, a:active {
                    background-color: red;
                }
            </style>
    </head>
    <body>
        <a style = "display:block;float:right" href = "/login">Logout</a><br>
        <h3 style = "display:block;float:center;text-align: center;">Welcome Dr. <%=name%></h3>
       
        <br><br><br><br>
        <a href = "http://localhost:4000/doctors/appointments">My Appointments</a>

    </body>
</html>
