<!DOCTYPE html>
<html>
    <head>
        <title>EKA Hospitals</title>
        <link rel='stylesheet' href='../public/home.css' />
        <style>
            body{
                color:white;
                text-align: center;
            }
            a:link, a:visited {
                background-color: #f44336;
                border: 2px solid white;
                border-radius: 25px;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
              }
                    
              a:hover, a:active {
                background-color: red;
              }
            </style>
    </head>
    <body>
        <a style = "display:block;float:left" href = "http://localhost:4000/patients/home">Home</a><br>
        <h3 style = "display:block;float:center;text-align: center;">Message</h3>
        <%=message%><br><br>
       
    </body>
</html>